doctype html
html(ng-app="readApp" ng-controller="MainCtrl")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/bower/angularjs/angular.js")
    script(src="/app/read-app.js")
  body
    p Hello World
